@import 'src/assets/stylesheets/flex_box.scss';

.totes-abnormal-card-container {
  padding: 0 16px;
  padding-top: 16px;
}

.totes-abnormal-card {
  padding-top: flex_pt(20);
  padding-bottom: flex_pt(20);
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-align: center;
  margin-top: flex_pt(16);
  &:first-child {
    margin-bottom: flex_pt(0);
  }
  .title {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.53px;
    line-height: 16px;
    margin-bottom: 0px;
  }
  .message {
    width: 100%;
    font-size: 12px;
    color: #989898;
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: flex_pt(16);
  }
  .abnormal-card-btn {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #5e5e5e;
    margin-top: flex_pt(16);
    padding: flex_pt(7) flex_pt(13) flex_pt(7) flex_pt(13);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
    &.active {
      border: 1px solid #e85c40;
      background: #e85c40;
      color: #fff;
    }
  }
}
