.totes-abnormal-tote-return {
  background: #ffffff;
  box-shadow: 0 0 16px 0 rgba(204, 204, 204, 0.4);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
  align-items: center;

  .title {
    flex: 1;
    font-weight: 500;
    font-size: 14px;
    color: #242424;
    letter-spacing: 0.4px;
    line-height: 24px;
    margin-bottom: 4px;

    &.foucs {
      color: #e85c40;
    }

    .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      border-radius: 8px;
      background: #e85c40;
      color: #fff;
      font-size: 10px;
      margin-right: 5px;
    }
  }

  .content-view {
    display: flex;

    .message {
      font-size: 12px;
      color: #989898;
      letter-spacing: 0.2px;
      line-height: 18px;
      padding-right: 10px;
    }
  }

  .button-view {
    padding-left: 12px;
    border-left: 1px solid #e8e8e8;

    .button {
      width: 82px;
      display: flex;
      background: #e85c40;
      border-radius: 2px;
      font-size: 12px;
      line-height: 32px;
      color: #fff;
      letter-spacing: 0.4px;
      padding: 0 16px;
    }
  }

  .timer {
    background: #fafafa;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 15px;

    .content {
      font-size: 12px;
      color: #5e5e5e;

      .times {
        color: #e7c27a;
      }
    }

    .button {
      font-size: 11px;
      color: #989898;
      letter-spacing: 0.2px;
      line-height: 11px;
    }
  }
}
