.onboarding-title-box {
  text-align: center;
  padding: 0px 86px;
  .onboarding-title {
    font-size: 16px;
    color: #242424;
    letter-spacing: 5px;
    line-height: 16px;
    margin-bottom: 12px;
  }
  .onboarding-border {
    border-bottom: 1px solid #ea5c39;
    margin-bottom: 12px;
  }
  .onboarding-text {
    font-size: 14px;
    color: #989898;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
  }
}
