.highlighted-words {
  text-decoration: none;
  background: linear-gradient(to right, #fcdfd9, #fcdfd9 100%);
  background-size: 1px 8px;
  background-position: 0% 100%;
  background-repeat: repeat-x;
}
