@import '~styles/flex_box.scss';
@import '~styles/variables';
.rating-progress {
  .rating-container {
    display: flex;
    align-items: center;
    margin-top: 12px;
    .rating-progress-bar {
      height: 4px;
      background: #f3f3f3;
      border-radius: 4px;
      border: 1px solid #f3f3f3;
      width: 100%;
      margin-right: 15px;
    }

    .rating-progress-bar-fill {
      height: 4px;
      border-radius: 4px;
      background-color: #f3be7d;
      position: relative;
      overflow: hidden;
      position: relative;
      top: -1px;
      left: -1px;
      width: 0%;
    }
    .rating-number {
      font-size: 12px;
      color: #989898;
      letter-spacing: 0.2px;
      text-align: right;
      line-height: 12px;
    }
  }
}
