@import '~styles/flex_box.scss';

::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

.homepage-main {
  text-align: center;
  padding-bottom: 17.5vw;
  width: 100%;
  overflow: hidden;
  .swiper-pagination-bullet-active  {
    background-color: #fff !important;
  }
  .vacation-banner-box{
    .vacation-banner{
      width: flex_pt(359);
      height: flex_pt(90);
      margin: -8px auto 8px;
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
  .margin-vacation{
    margin-bottom: 32px;
  }
  .homepage-banner-box{
    margin-bottom: 32px;
    .swiper-slide{
      height: 62.66vw;
      overflow-y: hidden;
    }
  }
  .swiper-pagination-bullets{
    bottom:0px !important;
    .swiper-pagination-bullet{
      margin-top: 20px !important;
      background-color: rgba(255, 255, 255, 0.3);
      opacity: 1;
    }
  }
  .swiper-pagination {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
    // height: flex_pt(40);
  }
}

.homepage-top-banner {
  width: 100%;
  height: auto;
}

.guide {
  height: 60vw;
  margin-bottom: -20px;
  font-size: 0;

  .guide-item {
    line-height: 0;
    img {
      width: 100%;
      height: auto;
    }
  }

  .right-line {
    margin-right: 3vw;
    margin-left: 1.5vw;
  }
  .left-line {
    margin-left: 3vw;
    margin-right: 1.5vw;
  }

  .top-line {
    margin-top: 1vw;
    margin-bottom: 2vw;
  }
  .bottow-line {
    margin-top: 2vw;
  }
}

.theme {
  width: 100%;
  height: auto;
  margin-bottom: flex_pt(24);
  &.collection-container{
    margin-bottom: 0px;
    .theme-banner {
      height: auto;
      width: 100%;
      padding-bottom: 0px;
      margin-bottom: flex_pt(24);
    }
  }
  .theme-title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: flex_pt(20);
    &.new-product{
      margin-bottom: flex_pt(4);
    }
    .title-border{
      border-bottom: 1px solid #CDCDCD;
    }
    .title-left{
      font-size: flex_pt(18);
      color: #242424;
      line-height: flex_pt(18);
      font-weight: bold;
    }
    .title-right{
      font-size: flex_pt(12);
      color: #b2b2af;
      line-height: flex_pt(12);
      display: flex;
      align-items: center;
      img{
        width: flex_pt(16);
        // height: flex_pt(13);
        margin-left: flex_pt(10);
      }
    }
  }
  .theme-banner {
    height: auto;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: -23px;
  }
}
