@import 'src/assets/stylesheets/flex_box.scss';
.datepicker-modal {
  z-index: 100001;
  .datepicker {
    position: fixed;
  }
}
.date-pick {
  display: inline-block;
  height: 45px;
  line-height: 42px;
  width: 100%;
  text-align: center;
  padding-left: flex_pt(27);
  span.select-btn {
    font-size: 12px;
    color: #ccc;
    display: inline-block;
    width: 100%;
    &.select {
      color: #242424;
    }
  }
}
