@import '~styles/flex_box';
.brithday-input {
  margin-top: 35px;
  border-bottom: 1px solid #f3f3f3;

  .brithday-title {
    font-size: 16px;
    color: #242424;
    letter-spacing: 0;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 13px;
  }
  .input-brithday {
    height: 40px;
    background-image: url('~src/assets/images/up-down-arrows.svg');
    background-repeat: no-repeat;
    background-size: 9px 5px;
    background-position: center right;

    .date-pick {
      text-align: left;
      color: #5e5e5e;
      font-size: 12px;
      padding-left: 0;
    }
  }
}
