.add-to-closet-redux-button-heart {
  background-image: url('~src/assets/images/heart-outline.svg');
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  &.active {
    background-image: url('~src/assets/images/heart-filled.svg');
  }
}
