@import '~styles/variables';
@import '~styles/flex_box';

.collections-products {
  .tote-swap-products-container {
    padding-top: 0px !important;
  }
  #tote-swap-gallery {
    width: inherit;
    .tote-swap-gallery-row {
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  .tote-swap-products-container {
    padding-top: 0px !important;
  }
  .tote-swap-gallery-product {
    width: 100% !important;
  }
}
