@import '~styles/flex_box.scss';
@import '~styles/variables';

.address-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: flex_pt(12);
  padding-bottom: flex_pt(12);
  border-bottom: 1px solid #f2f2f2;
  padding-right: 20px;
  .title {
    color: #666666;
    font-size: flex_pt(14);
    flex: 1;
  }
  .input {
    text-align: right;
    flex: 2;
    border: none;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 0px;
    &::placeholder {
      color: #d7d7d7;
    }
    &.textarea {
      outline: 0;
      max-width: flex_pt(194);
      &:empty:before {
        content: attr(placeholder);
        color: #d7d7d7;
      }
      &::focus {
        content: none;
      }
    }
  }
}
