@import 'src/assets/stylesheets/flex_box.scss';

.cart-products-guide {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 120;
  background-color: #00000099;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;

  .lock-button {
    position: fixed;
    bottom: 6px;
    left: flex_pt(15);
    width: flex_pt(345);
    z-index: 100;
  }
}
