@import '~styles/variables';
@import '~styles/flex_box.scss';

.promo-code-box {
  width: 91.73333vw;
  margin: 0px auto 0px;
  padding-top: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.06);
  position: relative;
  .isinValid-promo {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    width: 91.73333vw;
    height: 100%;
    background: #ffffff;
    border: 1px solid #ececec;
    z-index: 5;
  }
  .promo-code-item {
    background-color: #fff;
    background-size: 91.73333vw 26.66667vw;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.08);
    display: flex;
    .discount-amount {
      display: flex;
      width: flex_pt(80);
      height: flex_pt(100);
      vertical-align: top;
      position: relative;
      justify-content: center;
      align-items: center;
      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);

        .money {
          display: inline-block;
          color: $primary-color-new;
          font-size: flex_pt(13);
        }

        .discount {
          font-size: flex_pt(24);
          display: inline-block;
          color: $primary-color-new;
          font-weight: bold;
        }

        .condition-display {
          font-size: 11px;
          color: #e85c40;
        }

        .not-valid {
          color: $mid-gray;
          font-weight: bold;
        }
      }
    }

    .mid-express {
      display: inline-block;
      width: flex_pt(178);
      height: flex_pt(100);
      vertical-align: top;

      span {
        display: inline-block;
        font-size: flex_pt(14);
        margin-top: flex_pt(30);
        margin-left: 16px;
      }

      .express-date {
        display: inline-block;
        font-size: flex_pt(11);
        margin-top: flex_pt(4);
        margin-left: 16px;
        color: #5e5e5e;
        font-weight: normal !important;
      }

      .not-valid {
        color: $mid-gray;
        font-weight: bold;
      }

      .title {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: flex_pt(14);

        .sub-title {
          font-weight: normal;
          font-size: flex_pt(12);
          margin-top: 0px;
          margin-left: 5px;
        }
      }
    }

    button {
      width: flex_pt(66);
      border: 1px solid $primary-color-new;
      color: $primary-color-new;
      font-size: flex_pt(11);
      padding: flex_pt(4) 0px;
      outline: none;
      border-radius: 4px;
      background-color: $white;
      position: absolute;
      top: 50%;
      right: flex_pt(20);
      transform: translateY(-50%);
      border-radius: 20px;
    }

    .select-icon {
      display: inline-block;
      width: flex_pt(20);
      height: flex_pt(20);
      border-radius: 50%;
      border: 1px solid $mid-gray;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: flex_pt(28);
    }

    .selected {
      background: url('~src/assets/images/plans/ok.png') no-repeat center;
      background-size: flex_pt(20);
      border: 1px solid #e85c40;
    }

    i {
      display: inline-block;
      width: flex_pt(64);
      height: flex_pt(64);
      background: url('../images/coupons_used.png') no-repeat center;
      background-size: flex_pt(64);
      margin-top: flex_pt(20);
      margin-left: flex_pt(10);
    }

    .expired {
      background: url('../images/coupons_invalid.png') no-repeat center;
      background-size: flex_pt(64);
    }
  }

  .promo-code-des {
    background-color: #fcfcfc;
    color: #989898;
    font-size: flex_pt(11);
    padding: 12px 15px 12px 20px;
    position: relative;
    line-height: 16px;

    .icon-left {
      position: absolute;
      width: 12px;
      height: 12px;
      top: -6px;
      left: -6px;
      background-color: #f7f7f7;
      border-radius: 50%;
    }
    .rules-box {
      display: flex;
      flex-direction: inherit;
    }

    .icon-right {
      position: absolute;
      width: 12px;
      height: 12px;
      top: -6px;
      right: -6px;
      background-color: #f7f7f7;
      border-radius: 50%;
    }

    .des-title {
      flex: 2;
    }

    .invalid-content {
      width: 100%;
      .active-text {
        color: #e85c40;
      }
      margin-bottom: 3px;
    }

    .des-content {
      flex: 8;

      .text {
        margin-bottom: 0px;
        display: inline-block;
        width: 100%;
      }
    }
  }
}
