@import '~styles/variables';
@import '~styles/flex_box.scss';

.mini-app-referral-tips {
  position: fixed;
  top: 0px;
  right: 7.8vw;
  z-index: 100;
  .referral-box {
    position: relative;
    .referral-text {
      position: absolute;
      color: #fff;
      font-size: 12px;
      bottom: 14px;
      left: 0px;
      margin-bottom: 0px;
      text-align: center;
      letter-spacing: 0.8px;
      width: 100%;
      .text-number {
        font-size: 13px;
      }
    }
  }
}
