@import '~styles/variables';
@import '~styles/flex_box';

.loading-tote-animation {
  .loading-title {
    margin: 134px auto 50px;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0.4px;
    text-align: center;
    line-height: 26px;
  }
  .loading-tote-animate {
    width: 218px;
    margin: 55px auto;
  }
}
