@import '~styles/flex_box.scss';
@import '~styles/variables';

.loading-submiting-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  .loading-gift {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: flex_pt(210);
    padding: 16px 12px;
    background-color: $black;
    opacity: 0.8;
    border-radius: 4px;
    z-index: 999999;

    .loading {
      width: 24px;
      height: 24px;
      margin: 0 auto 4px;
      background: url('~src/app/containers/ratings/images/Dual_Ring_loading.svg')
        no-repeat center;
      background-size: 100%;
    }

    .use-cash {
      display: block;
      font-size: 14px;
      color: $white;
      width: 100%;
      text-align: center;
    }
  }
}
