.free-service-icon {
  background: #242424;
  border-radius: 2px;
  font-size: 11px;
  color: #e3b356;
  padding: 1px 3px;
  margin-right: 8px;
}

.free-service-overtime {
  .message {
    font-size: 13px;
    color: #5e5e5e;
    letter-spacing: 0.4px;
    line-height: 21px;

    .button {
      color: #e85c40;
    }
  }
}

.free-service-tip {
  .message {
    font-size: 13px;
    color: #5e5e5e;
    letter-spacing: 0.4px;
    line-height: 21px;
  }
}
